[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=GScrot - Screenshot Tool
Comment=GScrot - Screenshot Tool
Exec=gscrot
Icon=gscrot
Terminal=false
Type=Application
Categories=Utility;Application;
Name[de_DE]=GScrot - Bildschirmfotos aufnehmen
Comment[de_DE]=GScrot - Bildschirmfotos Ihres gesamten Bildschirms, einzelner Fenster, Unterfenstern oder Webseiten aufnehmen und speichern