[Desktop Entry]
Version=1.0
Name=Shutter
Name[de_DE]=Shutter
Name[pt_BR]=Shutter
GenericName=Screenshot Tool
GenericName[de_DE]=Anwendung für Bildschirmfotos
GenericName[pt_BR]=Captura de tela
Comment=Capture, edit and share screenshots
Comment[de_DE]=Bildschirmfotos aufnehmen, bearbeiten und mit Anderen teilen
Comment[pt_BR]=Aplicativo avançado para capturar imagens da tela
Exec=shutter %F
Icon=shutter
Terminal=false
Type=Application
Categories=Utility;Application;
MimeType=image/bmp;image/jpeg;image/gif;image/png;image/tiff;image/x-bmp;image/x-ico;image/x-png;image/x-pcx;image/x-tga;image/xpm;image/svg+xml;
X-Ayatana-Desktop-Shortcuts=Select;Screen;Window;Active

[Select Shortcut Group]
Name=Capture an area of the screen
Exec=shutter --select
OnlyShowIn=Unity

[Screen Shortcut Group]
Name=Capture the entire screen
Exec=shutter --full
OnlyShowIn=Unity

[Window Shortcut Group]
Name=Select a window to capture
Exec=shutter --window
OnlyShowIn=Unity

[Active Shortcut Group]
Name=Capture the current active window
Exec=shutter --active
OnlyShowIn=Unity

