[Desktop Entry]
Version=1.0
Name=Shutter - Take Screenshot
Comment=Feature-rich screenshot application
Exec=shutter %F
Icon=shutter
Terminal=false
Type=Application
Categories=Utility;Application;
MimeType=image/bmp;image/gif;image/x-fits;image/pcx;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-sgi;image/x-tga;image/x-xbitmap;image/x-xwindowdump;image/tiff;image/jpeg;image/x-psd;image/png;image/x-icon;image/x-xpixmap;image/svg+xml;
Name[de_DE]=Shutter - Bildschirmfoto aufnehmen
Comment[de_DE]=Vielseitiges Programm zur Aufnahme von Bildschirmfotos
