[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Shutter - Screenshot Tool
Comment=Shutter - Screenshot Tool
Exec=shutter
Icon=shutter
Terminal=false
Type=Application
Categories=Utility;Application;
Name[de_DE]=Shutter - Bildschirmfotos aufnehmen
Comment[de_DE]=Shutter - Bildschirmfotos Ihres gesamten Bildschirms, einzelner Fenster, Unterfenstern oder Webseiten aufnehmen und speichern
