Source: gscrot
Section: gnome
Priority: extra
Maintainer: Mario Kemper <mario.kemper@gmx.de>
Build-Depends: debhelper (>= 5)
Homepage: https://launchpad.net/gscrot

Package: gscrot
Architecture: all
Depends: scrot, libgtk2-trayicon-perl, libgtk2-perl, perl, libgtk2.0-0 (>=2.11.6), gtklp, liblocale-gettext-perl, libglib-perl, perlmagick, libwww-mechanize-perl, libwww-perl, gnome-web-photo
Conflicts:
Replaces:
Provides: gscrot
Description: GScrot is a simple GTK+ 2.0 frontend for scrot (Copyright Tom Gilbert 2000) written in perl.
 Some of the features of GScrot
 - take a screenshot of your complete desktop or of a rectangular area
 - take screenshot directly or with a specified delay time
 - save the screenshots to a specified directory and name them in a convenient way (using special wild-cards)
 - GScrot is fully integrated into the Gnome Desktop (TrayIcon etc.)
 - generate thumbnails directly when you are taking a screenshot and set a size level in %
 - automatically reduce color depth
 - save and revert your settings
 - GScrot session collection

