Source: shutter
Section: utils
Priority: optional
Maintainer: Mario Kemper <mario.kemper@googlemail.com>
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 5)
Homepage: https://launchpad.net/shutter

Package: shutter
Architecture: all
Depends: libglib-perl, libgtk2-perl, liblocale-gettext-perl, librsvg2-common, libxml-simple-perl, libfile-basedir-perl, libfile-desktopentry-perl, libfile-remove-perl, libwww-mechanize-perl, libwww-perl, libgnome2-perl, libgnome2-gconf-perl, libgnome2-wnck-perl, libgnome2-vfs-perl, imagemagick, perlmagick, libgtk2-imageview-perl, libx11-protocol-perl, libgtk2-trayicon-perl, libgoo-canvas-perl, gnome-web-photo
Replaces: gscrot, gscrot-plugins-bash
Provides: gscrot, gscrot-plugins-bash
Conflicts: gscrot, gscrot-plugins-bash
Description: Feature-rich screenshot application
 Shutter is a feature-rich screenshot program.
 You can take a screenshot of a specific area, window, 
 your whole screen, 
 or even of a website - apply different effects to it, 
 draw on it to highlight points, 
 and then upload to a image hosting site, 
 all within one window.
 .
 The Shutter homepage is http://shutter-project.org
