#!/usr/bin/make -f

PACKAGE=$(shell dh_listpackages)

build:
	dh_testdir

clean:
	dh_testdir
	dh_testroot
	dh_clean -d

binary-indep: build

	dh_testdir
	dh_testroot
	dh_clean -k -d
	dh_installdirs

	dh_installdocs
	dh_installchangelogs

	#Copy the notifier file
	find ./tools -maxdepth 1 -mindepth 1 -iname 'update-notifier*' -print0 | \
		xargs -0 -r -i cp {} debian/$(PACKAGE)/var/lib/update-notifier/user.d/

	#Copy the packages's files.
	find . -maxdepth 1 -mindepth 1 -not -name debian -not -name tools -not -iname '.*' -print0 | \
		xargs -0 -r -i cp -a {} debian/$(PACKAGE)/usr/

	dh_compress
	dh_makeshlibs
	dh_installdeb
	-dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary

